<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <form action="/records" method="POST" >
                <h3 class="text-center mb-4 mt-5">請修改你的支出</h3>
                <div class="form-row my-3">
                    <div class="col-3 text-center">
                        <label for="name">名稱* :</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="name" id="name" value="" required>
                    </div>
                </div>
                <div class="form-row my-3">
                    <div class="col-3 text-center">
                        <label for="date">日期* :</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="date" name="date" id="date" value=""
                            required>
                    </div>
                </div>
                <div class="form-row my-3">
                    <div class="col-3 text-center">
                        <label for="category">類別* :</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" name="category" id="category" required>
                            {{#each categories}}
                            <option value="{{this._id}}">{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row my-3">
                    <div class="col-3 text-center">
                        <label for="amount">金額* :</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="number" name="amount" id="amount" value="{{record.amount}}"
                            required>
                    </div>
                </div>
                <div class="text-center">
                   <button type="submit" class="btn btn-secondary">新增</button>
                </div>
            </form>
        </div>
    </div>
    \
</div>